[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Vendor/glew"]
	path = Vendor/glew
	url = git@github.com:nigels-com/glew.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = git@github.com:nothings/stb.git
